//Colours
$text-color: #fff;
$background: #00c6a7;
$text-shadow: #888;
$icon-button:#00967f;
$icon-button-shadow: #007261;
$text-button:#fcb74b;
$text-button-shadow:#f39c12;

//Font Stacks
$montserrat: 'Montserrat', sans-serif;